:root {
  --primary: red;
  --space-s:  8px;
  --space-m:  16px;
  --space-l:  24px;
  --space-xl: 36px;
  --space-xxl: 48px;
}

body {
  font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro",
    "メイリオ", Meiryo, "ＭＳ Ｐゴシック", sans-serif;
  margin: 0;
  background: linear-gradient(to right, #f0f8ff, #e6e6fa, #ffe4e1);
}

.action-bar {
  display: flex;
  /* margin: var(--space-m); */
  padding: var(--space-xl) 0;
  justify-content: space-between;
  position: sticky;
  top: 0;
  background: linear-gradient(rgb(255, 255, 255, 0.8), rgb(255, 255, 255, 0) 100%);

  .action-left {
    width: 25vw;
    padding-right: var(--space-m);
  }
  .action-query {
    display: flex;
    align-items: center;
    max-width: 50vw;
    width: 50vw;
    
    border-radius: 32px;
    box-shadow: 1px 1px 1px lightgray;
    padding: var(--space-m);
    background-color: white;

    & input {
      border: 0;
    }
    & input:focus {
      outline: none;
    }
    .query {
      font-size: large;
      width: 100%;
    }
  }

  div.icon-search {
    margin-right: var(--space-s);
  }
  .action-right {
    width: 25vw;
    padding-left: var(--space-m);
  }
}

.tag-groups {
  margin: 0 var(--space-m);
  
  .tag-content {
    padding: var(--space-m);
    vertical-align: top;
  }
  
  li.tag-group {
    display: inline-block;
    margin-bottom: var(--space-l);
    border-radius: 16px;
    background-color: rgba(255, 255, 255, 0.7);
    width: 100%;
    box-shadow: 17px 20px 40px rgba(0, 0, 0, .21);
  }
  
  div.tag-name {
    padding-bottom: var(--space-m);
    font-weight: bold;
  }
  
  li.item {
    list-style: none;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  
  li.item a {
    text-decoration: none;
    color: blue;
    white-space: nowrap;
  }
  
  li.item a:hover {
    color: green;
  }
}

.tag-groups > ul {
  padding-inline-start: 0;
  -moz-column-gap: 24px;
  column-gap: 24px;
  -moz-column-count: 4;
  column-count: 4;
}

@media (min-width: 800px) and (max-width: 1120px) {
  .tag-groups > ul {
    -moz-column-count: 3;
    column-count: 3;
  }
}

@media (min-width: 480px) and (max-width: 800px) {
  .tag-groups > ul {
    -moz-column-count: 2;
    column-count: 2;
  }
}

@media (max-width: 480px) {
  .tag-groups > ul {
    -moz-column-count: 1;
    column-count: 1;
  }
}
